<%= form_for @pin, html: { multipart: true } do |f| %>
<% if @pin.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@pin.errors.count, "error") %> prohibited this message from being saved :(( </h2>

	<ul>
		<% @pin.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group">
	<%= f.file_field :image, class: "hidden", :id => "image_file" %>
	<div>
		<button onclick="document.getElementById('image_file').click(); return false;">
			<i  class="fa fa-paperclip fa-4"> Choose File</i>
		</button>
		<%= f.label "Choose a picture of us, or choose whatever you want, but should be cool ;-)", :for => "image_file", style: "margin-left: 10px"%>
	</div>
</div>

<div class="form-group">
	<%= f.label "Message"%>
	<%= f.text_area :description, class: "form-control", style: "width:700px; height:250px;", :placeholder => "Please write here your birthday's message.....", :id => "new_pin_description" %>
	<div id="counter_text">
		Dont be lazy, <span id="display_count", style='color:red;'>150</span> words please to make it a cool message :)
	</div>
</div>

<div class="form-group">
	<%= f.submit "Send the message", class: "btn btn-primary" %>
</div>
<% end %>

<script>
	$(document).ready(function() {
		$("#new_pin_description").on('keyup', function() {
			var words = this.value.length;

			if (words < 150) {
				$('#display_count').text(150 - words);
				$('#counter_text').removeClass("hidden");
			} else {
				$('#counter_text').addClass("hidden");
			}
		});
	}); 
</script>
