<div class="jumbotron center">
  <h1 style="font-size:50px !important;">Hi! Today I'm 21! Its my Birthday! So cool,right?</h1>
  <div id="happyBdayBtn">
  	<p>
		<%= link_to "Say Happy Birthday ;-)","#" ,class: "btn btn-primary btn-lg" %>  		
  	</p>
  </div>
  <div id="loginBtns" class="hidden">
	  <p>
	    <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %> 
    	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  		<%= link_to user_omniauth_authorize_path("twitter") do %>
  			<button class="btn btn-twitter btn-lg"><i class="fa fa-twitter"></i> | Connect with Twitter</button>
 		<%end%>
  		<%= link_to user_omniauth_authorize_path("facebook") do %>
 			<button class="btn btn-facebook btn-lg"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
 		<%end%>
	  </p>
  </div>

</div>