<div class="panel panel-default" style="width: 500px;margin-left: 350px;">
  <div class="panel-heading">
    <div class="panel-title" style="text-align:center">
      <h1>Login to Pinteresting</h1>
    </div>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :style => "width:300px;") do |f| %>

      <div class="form-group">
        <%= f.email_field :email, class: "form-control", :autofocus => true, placeholder:"Email / Username" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, class: "form-control" , placeholder:"Password" %>
      </div>
      <div class="form-group">
        <%= f.submit "Sign in", class: "btn btn-primary", style: "width:470px;" %>
      </div>
    <% end %>
    <div class="ui horizontal divider">
      Or
    </div>
<%= render "devise/shared/links" %>    
  </div>

  
</div>
