<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "David B +21", root_path, class: "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <% if user_signed_in? && current_user.pins.count == 0 %>
   	 	<span class="navbar-brand" style="font-size:large;color:#000;margin-left:60px;">Always remember, Never Forget 9/11</span>
    <%else%>
    	<span class="navbar-brand" style="font-size:large;color:#000;margin-left:290px;">Always remember, Never Forget 9/11</span>
    <%end%>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to root_path do %>
              <span class="glyphicon glyphicon-home"></span> Home
            <% end %></li>
        <li><%= link_to about_path do %>
              <span class="glyphicon glyphicon-star"></span> About
            <% end %></li>
        <% if user_signed_in? %>
          <li>
          	<% if current_user.pins.count == 0 %>
            <%= link_to new_pin_path do %>
              <span class="glyphicon glyphicon-gift"></span> Wish happy birthday
            <% end %>
        <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-cog"></span> Account Setting
            <% end %>
            </li>
          
          <li><%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-log-out"></span> Log out
            <% end %></li>
        <% else %>
          <li><%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-user"></span> Sign in
            <% end %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
